@import './mixin.scss';

.Avie_title_large {
    font-size: 24px;
    font-weight: bold;
    color: #252c38;
}

.Avie_title_normal {
    font-size: 18px;
    color: #333;
}
.Txt_show{
    font-size: 14px;
    line-height: 32px;
    color: #333;
    white-space: pre-wrap;
}
.Avie_title_small {
    font-size: 16px;
    color: #333;
    line-height: 32px;
}

.Avie_content_normal {
    font-size: 14px;
    color: #333;
    line-height: 28px;
}

.Avie_content_small {
    font-size: 12px;
    color: #333;
    line-height: 24px;
}

.Avie_btn_ {
    height: 30px;
    border-radius: 3px;
    min-width: 75px;
    padding: 0 15px;
    box-sizing: border-box;
    color: #333;
    font-size: 14px;
    border: none;
    cursor: pointer;
    i {
        margin-right: 5px;
    }
}

.Avie_btn_confirm {
    @extend .Avie_btn_;
    background: #2f89e4;
    color: #fff;
    &:hover {
        background: #1571ce;
        color: #fff;
    }
    &:active {
        background: #0f5997;
        color: #fff;
    }
}
.Aive_btn_disabled {
    @extend .Avie_btn_;
    cursor: not-allowed;
    // border:1px solid #eee;
    background: #eee;
    color: #fff;
}
.Avie_btn_cancel {
    @extend .Avie_btn_;
    border: 1px solid rgba(221, 221, 221, 1);
    background: linear-gradient(360deg, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
    &:hover {
        color: #1571ce;
        border: 1px solid rgba(21, 113, 206, 1);
        background: linear-gradient(360deg, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
    }
    &:active {
        color: #0f5997;
        border: 1px solid #0f5997;
        background: linear-gradient(360deg, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
    }
}

.Avie_btn_special_confirm {
    @extend .Avie_btn_confirm;
    padding: 0 10px;
}

.Avie_btn_special_cancel {
    @extend .Avie_btn_cancel;
    padding: 0 10px;
}

.Avie_btn_special_error {
    @extend .Avie_btn_;
    padding: 0 10px;
    border: 1px solid rgba(254, 195, 195, 1);
    background: linear-gradient(360deg, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
    box-shadow: 0px 1px 1px rgba(147, 23, 23, 0.1);
    color: #ec2f2f;
    &:hover {
        border: 1px solid rgba(245, 47, 47, 1);
        background: linear-gradient(360deg, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
        box-shadow: 0px 1px 1px rgba(147, 23, 23, 0.1);
    }
    &:active {
        border: 1px solid rgba(254, 195, 195, 1);
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
        box-shadow: 1px 0px 1px rgba(147, 23, 23, 0.05);
    }
}

.Avie_tag_normal {
    min-width: 80px;
    height: 30px;
    background: rgba(238, 238, 238, 1);
    border: 1px dashed rgba(187, 187, 187, 1);
    border-radius: 3px;
    font-size: 14px;
    color: #999;
    cursor: pointer;
}
.Avie_tag_active {
    min-width: 80px;
    height: 30px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(114, 180, 246, 1);
    border-radius: 3px;
    color: #555555;
    cursor: pointer;
    &:hover {
        i {
            color: #72b4f6;
        }
    }
    &:disabled {
        // background: #bbb;
        // color:#fff;
        border: none;
        border-color: #bbb;
        cursor: not-allowed;
        i {
            display: none;
        }
    }
}



.Avie_search_box {
    @include T_flex_row(flex-start, center);
    flex-wrap: wrap;
    margin-bottom: 15px;
    padding: 7px 10px 0 10px;
    > * {
        margin-right: 5px;
        margin-bottom: 5px;
    }
    .Box_ {
        margin-right: 20px;
        @include T_flex_row(flex-start, center);
        > * {
            margin-right: 5px;
        }
    }
    .label_ {
        line-height: 30px;
    }
    > .label_ {
        margin-left: 20px;
        &:first-of-type {
            margin-left: 0;
        }
    }
}



.Avie_table_normal {
    .Avie_table_base_txt {
        @extend .T_nowrap;
        &.error {
            color: #ec2f2f;
        }
    }
    .avatar {
        width: 32px;
        height: 32px;
        display: inline-block;
        vertical-align: middle;
    }
    .el-table__row {
        .del_ {
            display: none;
            vertical-align: middle;
            color: #f53333;
            font-size: 16px;
            cursor: pointer;
        }
        &:hover {
            .del_ {
                display: inline-block;
            }
        }
    }
    .Avie_table_control {
        span {
            cursor: pointer;
            color: #2f89e4;
            width: 70px;
            display: inline-block;
            vertical-align: middle;
        }
        &.Avie_table_control_one {
            span {
                width: auto;
                margin-right: 15px;
            }
        }
    }
    .el-table__header-wrapper {
        th {
            background-color: #f6f6f6;
            font-size: 14px;
            color: #555;
            padding: 0;
            .cell {
                line-height: 35px;
            }
        }
        .is-leaf {
            border: 1px solid #d9d9d9;
            border-left: none;
            border-right: none;
            &:first-of-type {
                border-left: 1px solid #d9d9d9;
            }
            &:nth-last-of-type(2):not(.gutter) {
                border-right: 1px solid #d9d9d9;
            }
            &:last-of-type:not(.gutter) {
                border-right: 1px solid #d9d9d9;
            }
        }
    }
    .el-table__fixed-right {
        th {
            background-color: #f6f6f6;
            font-size: 14px;
            color: #555;
            padding: 0;
            .cell {
                line-height: 35px;
            }
        }
        .is-leaf {
            border: 1px solid #d9d9d9;
            border-left: none;
            border-right: none;
            &:first-of-type {
                border-left: 1px solid #d9d9d9;
            }
            &:nth-last-of-type(2):not(.gutter) {
                border-right: 1px solid #d9d9d9;
            }
            &:last-of-type:not(.gutter) {
                border-right: 1px solid #d9d9d9;
            }
        }
        td {
            border-bottom: 1px solid #ddd;
            padding: 0;
            font-size: 14px;
            color: #555;
            .cell {
                line-height: 40px;
            }
        }
    }
    .el-table__body-wrapper {
        td {
            border-bottom: 1px solid #ddd;
            padding: 0;
            font-size: 14px;
            color: #555;
            .cell {
                line-height: 40px;
            }
        }
        .el-table__row.active {
            td {
                background: #f0f6fb;
            }
        }
    }
    &.el-table--enable-row-transition::before {
        display: none;
    }
}

.Avie_classification_box {
    .Avie_classification_box_head {
        .el-table__empty-block {
            display: none;
        }
        .el-table::before {
            display: none;
        }
        .el-table__body-wrapper {
            display: none;
        }
    }
    .Avie_classification_box_body {
        .Avie_classification_class {
            height: 50px;
            @include T_flex_row(flex-start, center);
            .slide {
                width: 50px;
                text-align: center;
                color: #888;
                font-size: 14px;
                height: 50px;
                cursor: pointer;
                line-height: 50px;
                transition: 0.3s;
            }
            .down {
            }
            .up {
                transform: rotateX(180deg);
            }
            .option_ {
                font-size: 14px;
                color: #555;
                width: 130px;
                @extend .T_nowrap;
                margin-right: 5px;
            }
        }
        .Avie_classification_data {
            overflow: hidden;
            transition: 0.3s;
            tbody {
                tr {
                    &:first-of-type {
                        td {
                            border-top: 1px solid #d9d9d9;
                        }
                    }
                }
            }
            td {
                &:first-of-type {
                    border-left: 1px solid #d9d9d9;
                }
                &:last-of-type {
                    border-right: 1px solid #d9d9d9;
                }
            }
            .el-table__body-wrapper {
                td {
                    border-bottom: 1px solid #d9d9d9;
                }
            }
        }
    }
}

.el-pagination {
    .el-input .el-input__inner {
        line-height: 22px;
        height: 22px;
        color: #555;
        font-size: 12px;
    }
    .el-select .el-input .el-select__caret {
        line-height: 22px;
    }
}

.el-badge__content {
    border: none;
}

.Avie_status_ {
    padding-left: 20px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 4px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.Avie_status_success {
    @extend .Avie_status_;
    &::before {
        background-color: #52c41a;
    }
}
.Avie_status_progress {
    @extend .Avie_status_;
    &::before {
        background-color: #1890ff;
    }
}
.Avie_status_error {
    @extend .Avie_status_;
    &::before {
        background-color: #f52f2f;
    }
}
.Avie_status_abnormal {
    @extend .Avie_status_;
    &::before {
        background-color: #faad14;
    }
}
.Avie_status_begun {
    @extend .Avie_status_;
    &::before {
        background-color: rgba(0, 0, 0, 0.65);
    }
}

.el-message--success,
.el-message--warning,
.el-message--info,
.el-message--error {
    background: #ffffff;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    padding: 10px 15px;
    .el-message__content {
        color: #555555;
        font-size: 14px;
    }
}
.el-message .Avie_message_info {
    color: #2786d5;
    margin-right: 10px;
}

.el-notification {
    width: 350px;
    .el-notification__title {
        font-weight: normal;
        font-size: 16px;
        color: #333;
    }
    &.success {
        background: rgba(246, 255, 237, 1);
        border: 1px solid rgba(183, 235, 143, 1);
        .el-notification__icon {
            color: #52c41a;
        }
    }
    &.warning {
        background: rgba(255, 251, 230, 1);
        border: 1px solid rgba(255, 229, 143, 1);
        .el-notification__icon {
            color: #faad14;
        }
    }
    &.error {
        background: rgba(255, 241, 240, 1);
        border: 1px solid rgba(255, 163, 158, 1);
        .el-notification__icon {
            color: #f5222d;
        }
    }
    &.info {
        background: rgba(230, 247, 255, 1);
        border: 1px solid rgba(145, 213, 255, 1);
        .el-notification__icon {
            color: #2786d5;
        }
    }
}

.Avie_cancel_txt {
    font-size: 14px;
    color: #2f89e4;
    padding: 0;
    margin: 0;
    border: none;
    font-weight: normal;
    &:hover {
        background: #fff;
    }
}

.Avie_messageBox_normal {
    padding-bottom: 25px;
    .el-message-box__header {
        padding: 20px 15px 20px 25px;
        .el-message-box__title {
            color: #555;
            font-weight: normal;
        }
    }
    .el-message-box__content {
        padding: 0 15px 25px 25px;
        font-size: 14px;
        color: #555;
    }
    .el-message-box__btns {
        padding: 0 25px 0 25px;

        .Avie_btn_cancel {
            float: right;
            margin-left: 10px;
        }
    }
    &.Avie_messageBox_tips {
        .el-message-box__header {
            display: none;
        }
        .el-message-box__content {
            padding-top: 23px;
        }
    }

    .Avie_messageBox_content {
        padding-left: 35px;
        position: relative;
        h1 {
            color: #555555;
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 7px;
            font-weight: normal;
        }
        p {
            font-size: 14px;
            line-height: 24px;
            color: #555;
        }
        i {
            position: absolute;
            left: 0;
            top: 0;
            font-size: 24px;
            &.el-icon-success {
                color: #67c23a;
            }
            &.el-icon-error {
                color: #f52f2f;
            }
        }
    }
}

.Avie_tabs_normal {
    .el-tabs__header {
        margin: 0;
    }
    > .el-tabs__header .el-tabs__item:first-child {
        border-left: 1px solid #bbbbbb;
    }
    > .el-tabs__header .el-tabs__nav {
        border: none;
    }
    > .el-tabs__header {
        border-bottom: 1px solid #2786d5;
    }
    > .el-tabs__header .el-tabs__item {
        padding: 0 15px;
        font-size: 14px;
        color: #555;
        line-height: 35px;
        font-weight: normal;
        height: 35px;
        border: 1px solid #bbbbbb;
        border-bottom: none;
        border-right: none;
        border-radius: 5px 5px 0 0;
        background: #eeeeee;
        border-bottom: 1px solid #2786d5;
        box-shadow: none !important;
        &:last-of-type {
            border-right: 1px solid #bbbbbb;
        }
        &.is-active {
            background: #fff;
            border: 1px solid #2786d5;
            border-bottom: 1px solid #fff;
            margin-bottom: -1px;
            margin-right: -1px;
            position: relative;
            z-index: 10;
        }
    }
    .el-tabs__new-tab {
        width: 20px;
        height: 20px;
        background: rgba(255, 255, 255, 1);
        border: 1px solid rgba(221, 221, 221, 1);
        opacity: 1;
        border-radius: 2px;
        margin: 0;
        margin-top: 8px;
        padding: 0;
        color: #555;
        font-size: 14px;
        line-height: 20px;
    }
}

.Avie_tabs_tips {
    .el-tabs__header {
        margin: 0;
    }
    > .el-tabs__header .el-tabs__item:first-child {
        border-left: 1px solid #bbbbbb;
    }
    > .el-tabs__header .el-tabs__nav {
        border: none;
    }
    > .el-tabs__header {
        border-bottom: 1px solid #dddddd;
    }
    .el-tabs__header .el-tabs__item {
        padding: 0 15px;
        font-size: 14px;
        color: #555;
        line-height: 35px;
        font-weight: normal;
        height: 35px;
        border: 1px solid #dddddd;
        border-bottom: none;
        border-right: none;
        border-radius: 5px 5px 0 0;
        background: #fafafa;
        border-bottom: 1px solid #dddddd;
        vertical-align: bottom;
        box-shadow: none !important;
        &:last-of-type {
            border-right: 1px solid #dddddd;
        }
        &.is-active {
            background: #fff;
            border: 1px solid #dddddd;
            border-bottom: 1px solid #fff;
            margin-bottom: -1px;
            margin-right: -1px;
            position: relative;
            z-index: 10;
            color: #2f89e4;
            height: 38px;
            padding-top: 3px;
            border-top: 3px solid #2f89e4;
            box-shadow: none !important;
            &.is-focus:not(:active) {
                &:focus {
                    box-shadow: none !important;
                }
            }
        }
    }
}

.el-breadcrumb {
    .el-breadcrumb__inner.is-link,
    .el-breadcrumb__inner a,
    .el-breadcrumb__inner {
        font-size: 12px;
        color: #888;
        font-weight: normal;
    }
    .el-breadcrumb__item {
        &:last-of-type {
            .el-breadcrumb__inner {
                color: #555;
                &:hover {
                    color: #2786d5;
                }
            }
        }
    }
    .el-breadcrumb__inner {
        cursor: pointer;
        &:hover {
            color: #2786d5;
        }
    }
}

.el-dropdown {
    .Avie_btn_confirm {
        height: 30px;
        line-height: 30px;
    }
}

.el-steps--simple {
    .el-step__title {
        font-size: 16px;
    }
    .el-step__title.is-success {
        color: #2786d5;
    }
    .el-step__head.is-success {
        color: #2786d5;
        border-color: #2786d5;
    }
    .el-step__title.is-process {
        color: #555;
        font-weight: normal;
    }
}

.nowrap {
    display: block;
    @extend .T_nowrap;
}



.Avie_normal_sample {
    flex: 1;
    overflow: hidden;
    @include T_flex_column(flex-start, stretch);
    > * {
        width: 100%;
        box-sizing: border-box;
    }

    .Avie_btn_grounp {
        padding: 7px 10px;
        @include T_flex_row(flex-start, center);
        border-top: 1px solid #eeeeee;
        > * {
            margin-right: 8px;
        }
    }
    .Avie_table_box {
        flex: 1;
        overflow: hidden;
        flex-basis: 100px;
    }

    .Avie_sample_footer {
        height: 35px;
        background: rgba(245, 245, 245, 1);
        .el-pagination button,
        .el-pager li {
            background: transparent !important;
        }
        .el-pagination {
            font-weight: normal;
            padding: 0 40px;
            height: 35px;
            @include T_flex_row(flex-end, center);
            .el-pagination__total {
                margin-right: auto;
            }
        }
    }
}

.Avie_upload_avatar {
    .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .el-upload:hover {
        border-color: #409eff;
    }
    .el-upload--picture-card {
        font-size: 28px;
        color: #8c939d;
        width: 104px;
        height: 104px;
        line-height: 104px;
        text-align: center;
    }
    .el-upload-list--picture-card .el-upload-list__item {
        width: 104px;
        height: 104px;
    }
}



.Avie_normal_tree {
    height: 100%;
    overflow: hidden;
    @include T_flex_row(flex-start, flex-start);

    box-sizing: border-box;
    border-top: 1px solid #d9d9d9;
    .tree_box {
        height: 100%;
        box-sizing: border-box;
        width: 280px;
        border-right: 1px solid #d9d9d9;

        .tree_head {
            height: 35px;
            padding: 0 20px;
            @include T_flex_row(flex-start, center);
            .title {
                flex: 1;
                @extend .T_nowrap;
                font-size: 14px;
                color: #555;
            }
            .option {
                span {
                    width: 20px;
                    font-size: 16px;
                    color: #666;
                    margin: 0 3px;
                    cursor: pointer;
                }
            }
        }
        .tree_body {
            height: calc(100% - 35px);
            overflow: auto;
            box-sizing: border-box;
            .el-tree {
                background: transparent;
            }
            .tree_content_box {
                flex: 1;
                overflow: hidden;
                height: 32px;
                @include T_flex_row(flex-start, center);
                .title {
                    flex: 1;
                    @extend .T_nowrap;
                    font-size: 14px;
                    color: #555;
                }
                .options {
                    span {
                        margin: 0 3px;
                    }
                }
                &.active {
                    .options span {
                        color: rgb(117, 150, 174);
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        height: 32px;
                        background: #ecf9ff;
                        z-index: -1;
                    }
                }
            }
        }
    }
    .tree_table_list {
        flex: 1;
        height: 100%;
        overflow: hidden;
    }
}


.Avie_cascader_normal{
    li{
        width: 140px;
    }
}
