$primaryColorOne: #3551A2;
$primaryColorTwo: rgba(24, 144, 255, 0.8);
$fontColorOne: #606266;
$borderColor: #dcdfe6;

$--white-color: #fff;
$--black-color: #000;
$--font-color: #313333;
$--border-color: #E5E5E5;
$--primary-color: #01a8b7;
$--success-color: #35ba7a;
$--error-color: #ec5b5b;
$--warn-color: #f5ab2c;
$--cancel-color: #cccccc;
$--blue-color: #2983ef;
$--disabled-color: #7e7e7e;
$--lavender-color: #FF4081;
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

//sidebar
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;
